/**
 * @provides phabricator-source-code-view-css
 */

.phabricator-source-code-container {
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid {$paste.border};
}

.phui-oi .phabricator-source-code-container {
  margin-left: 8px;
}

.phabricator-source-code {
  white-space: pre-wrap;
  padding: 2px 8px 1px;
  width: 100%;
  background: #ffffff;
}

.phabricator-source-line {
  background-color: {$paste.highlight};
  text-align: right;
  border-right: 1px solid {$paste.border};
  color: {$sh-yellowtext};
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.phabricator-source-line > a::before {
  /* Render the line numbers as a pseudo-element so they don't get copied. */
  content: attr(data-n);
}

th.phabricator-source-line a,
th.phabricator-source-line span {
  display: block;
  padding: 2px 6px 1px 12px;
}

th.phabricator-source-line a {
  color: {$darkbluetext};
}

th.phabricator-source-line a:hover {
  background: {$paste.border};
  text-decoration: none;
}

.phabricator-source-coverage-highlight .phabricator-source-code,
.phabricator-source-highlight .phabricator-source-code {
  background: {$paste.highlight};
}

.phabricator-source-coverage-highlight .phabricator-source-line,
.phabricator-source-highlight .phabricator-source-line {
  background: {$paste.border};
}

.phabricator-source-code-summary {
  padding-bottom: 8px;
}

/* If a Paste has enormously long lines, truncate them in the summary on the
   list page. They'll be fully visible on the Paste itself. */
.phabricator-source-code-summary .phabricator-source-code-container {
  overflow-x: hidden;
}

.phabricator-source-code-summary .phabricator-source-code {
  white-space: nowrap;
}


.phabricator-source-blame-skip,
.phabricator-source-blame-info {
  -webkit-user-select: none;
  user-select: none;
}

.phabricator-source-blame-skip {
  min-width: 28px;
  border-right: 1px solid {$thinblueborder};
}

.phabricator-source-blame-info {
  white-space: nowrap;
  min-width: 130px;
  border-right: 1px solid {$paste.border};
  padding-right: 8px;

  vertical-align: middle;
  color: #ffffff;
}

.phabricator-source-blame-info a {
  color: {$darkbluetext};
  text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

.phabricator-source-blame-skip a {
  /* Give the user a larger click target. */
  display: block;
  padding: 2px 8px;
}

.phabricator-source-blame-skip a .phui-icon-view {
  color: {$darkbluetext};
}

.device-desktop .phabricator-source-blame-skip a:hover {
  background: {$bluebackground};
}

.phabricator-source-blame-author {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 6px 0 8px;
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

th.phabricator-source-coverage {
  padding: 0 8px;
  border-left: 1px solid {$thinblueborder};
  background: {$lightgreybackground};
  cursor: w-resize;
}
